@{
    ViewData["Title"] = "Home Page";
}
<p>
　　大鹏一日同风起，扶摇直上九万里。(李白&middot;上李邕)</p>
<p>
　　俱怀逸兴壮思飞，欲上青天揽明月。(李白&middot;宣州谢朓饯别校书叔云)</p>
<p>
　　仰天大笑出门去，我辈岂是蓬蒿人。(李白&middot;南陵别儿童入京)</p>
<p>
　　天生我材必有用，千金散尽还复来。(李白&middot;将进酒)</p>
<p>
　　长风破浪会有时，直挂云帆济沧海。(李白&middot;行路难)</p>
<p>
　　兴酣落笔摇五岳，诗成笑傲凌沧海。(李白&middot;江上吟)</p>
<p>
　　安能摧眉折腰事权贵，使我不得开心颜。(李白&middot;梦游天姥吟留别)</p>
<p>
　　读书破万卷，下笔如有神。(杜甫&middot;奉赠韦左丞二十二韵)</p>
<p>
　　会当凌绝顶，一览众山小。(杜甫&middot;望岳)</p>
<p>
　　笔落惊风雨，诗成泣鬼神。(杜甫&middot;寄李十二白二十)</p>
<p>
　　尔曹身与名俱灭，不废江河万古流。(杜甫&middot;戏为六绝句)</p>
<p>
　　身无彩凤双飞翼，心有灵犀一点通。(李商隐&middot;无题)</p>
<p>
　　相见时难别亦难，东风无力百花残。春蚕到死丝方尽，蜡炬成灰泪始干。(李商隐&middot;无题)</p>
<p>
　　庄生晓梦迷蝴蝶，望帝春心托杜鹃。(李商隐&middot;锦瑟)</p>
<p>
　　历鉴前朝国与家，成由勤俭败由奢。(李商隐&middot;咏史)</p>
<p>
　　同是天涯沦落人，相逢何必曾相识。(白居易&middot;琵琶行)</p>
<p>
　　在天愿作比翼鸟，在地愿为连理枝。(白居易&middot;长恨歌)</p>
<p>
　　天长地久有时尽，此恨绵绵无绝期。(白居易&middot;长恨歌)</p>
<p>
　　试玉要烧三日满，辨材须待七年期。(白居易&middot;放言)</p>
<p>
　　晴空一鹤排云上，便引诗情到碧霄。(刘禹锡&middot;秋词)</p>
<p>
　　沉舟侧畔千帆过，病树前头万木春。(刘禹锡&middot;酬乐天扬州初逢席上见赠)</p>
<p>
　　千淘万漉虽辛苦，吹尽狂沙始到金。(刘禹锡&middot;浪淘沙)</p>
<p>
　　山不在高，有仙则名;水不在深，有龙则灵。(刘禹锡&middot;陋室铭)</p>
<h2>
<strong>　　《中国诗词大会》题库【二】</strong></h2>
<p>
　　题型一：点字成诗</p>
<p>
　　例题1：</p>
<p>
　　商 生 国 山</p>
<p>
　　依 女 多 不</p>
<p>
　　知 尽 亡 恨</p>
<p>
　　诗句：商女不知亡国恨</p>
<p>
　　例题2：</p>
<p>
　　零 骰 豆 珑</p>
<p>
　　尘 安 子 作</p>
<p>
　　碾 成 泥 落</p>
<p>
　　诗句：零落成泥碾作尘</p>
<p>
　　题型二：飞花令</p>
<p>
　　&ldquo;飞花令&rdquo;本为古人行酒令的一种，原为按顺序吟诵带&ldquo;花&rdquo;字的诗词，答不上则罚酒。</p>
<p>
　　&ldquo;中国诗词大会&rdquo;中简化为两人依次吟诵带主题字的诗句。</p>
<p>
　　节选1：飞&ldquo;春&rdquo;字</p>
<p>
　　春眠不觉晓，处处闻啼鸟</p>
<p>
　　等闲识得东风面，万紫千红总是春</p>
<p>
　　好雨知时节，当春乃发生</p>
<p>
　　小楼一夜听春雨，深巷明朝卖杏花</p>
<p>
　　人闲桂花落，夜静春山空</p>
<p>
　　春江潮水连海平，海上明月共潮生</p>
<p>
　　无意苦争春，一任群芳妒</p>
<p>
　　节选2：飞&ldquo;月&rdquo;字</p>
<p>
　　春江潮水连海平，海上明月共潮生</p>
<p>
　　九月寒砧催木叶，十年征戍忆辽阳</p>
<p>
　　不知细叶谁裁出，二月春风似剪刀</p>
<p>
　　人间四月芳菲尽，山寺桃花始盛开</p>
<p>
　　春宵一刻值千金，花有清香月有阴</p>
<p>
　　可怜九月初三夜，露似珍珠月似弓</p>
<p>
　　停车坐爱枫林晚，霜叶红于二月花</p>
<p>
　　七月在野，八月在宇，九月在户，十月蟋蟀入我床下</p>
<div>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
